<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web3Test_back</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GuestList</servlet-name>
    <servlet-class>tg.servlet.GuestListServlet</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>jsp</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>jsp12</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestList</servlet-name>
    <url-pattern>/guest/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestAdd</servlet-name>
    <servlet-class>tg.servlet.GuestAddServlet</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>jsp</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>jsp12</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestAdd</servlet-name>
    <url-pattern>/guest/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestUpdate</servlet-name>
    <servlet-class>tg.servlet.GuestUpdateServlet</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>jsp</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>jsp12</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestUpdate</servlet-name>
    <url-pattern>/guest/update</url-pattern>
  </servlet-mapping>
</web-app>